In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [49]:
train_data = pd.read_csv("open/train.csv")
test_data = pd.read_csv("open/test.csv")
sample_submission = pd.read_csv("open/sample_submission.csv")

In [9]:
train_data

,ID,Age,Gender,Education_Status,Employment_Status,Working_Week (Yearly),Industry_Status,Occupation_Status,Race,Hispanic_Origin,...,Citizenship,Birth_Country,Birth_Country (Father),Birth_Country (Mother),Tax_Status,Gains,Losses,Dividends,Income_Status,Income
0,TRAIN_00000,63,M,Middle (7-8),Full-Time,4,Social Services,Services,White,All other,...,Native,US,US,US,Nonfiler,0,0,0,Unknown,425
1,TRAIN_00001,37,M,Associates degree (Vocational),Full-Time,52,Entertainment,Services,White,All other,...,Native,US,US,US,Single,0,0,0,Under Median,0
2,TRAIN_00002,58,F,High graduate,Full-Time,52,Manufacturing (Non-durable),Admin Support (include Clerical),Black,All other,...,Native,US,US,US,Married Filling Jointly both under 65 (MFJ),3411,0,0,Under Median,860
3,TRAIN_00003,44,M,High graduate,Full-Time,52,Retail,Technicians & Support,White,All other,...,Native,US,US,US,Single,0,0,0,Under Median,850
4,TRAIN_00004,37,F,High graduate,Full-Time,52,Retail,Sales,White,All other,...,Native,US,US,US,Head of Household (HOH),0,0,0,Unknown,570
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,TRAIN_19995,33,M,High graduate,Children or Armed Forces,52,Manufacturing (Durable),Handlers/Cleaners,White,All other,...,Native,US,US,US,Single,0,0,0,Under Median,1300
19996,TRAIN_19996,20,F,College,Full-Time,12,Education,Admin Support (include Clerical),White,Mexican-American,...,Native,US,Mexico,Mexico,Nonfiler,0,0,0,Under Median,850
19997,TRAIN_19997,22,M,College,Children or Armed Forces,52,Transportation,Technicians & Support,White,All other,...,Native,US,US,US,Single,0,0,0,Unknown,999
19998,TRAIN_19998,76,F,High graduate,Not Working,0,Not in universe or children,Unknown,White,All other,...,Native,US,Scotland,England,Single,0,0,0,Under Median,0
19999,TRAIN_19999,41,F,High graduate,Children or Armed Forces,52,Public Administration,Admin Support (include Clerical),White,All other,...,Native,US,US,US,Head of Household (HOH),0,0,0,Under Median,671

In [30]:
train_data['Education_Status'].value_counts()

High graduate                     6494
College                           3794
Children                          2208
Bachelors degree                  1956
High Junior                        820
High Sophomore                     799
Associates degree (Vocational)     741
Associates degree (Academic)       609
High Freshman                      555
Middle (7-8)                       548
Masters degree                     505
Elementary (5-6)                   317
High Senior                        242
Elementary (1-4)                   150
Professional degree                111
Doctorate degree                    87
Kindergarten                        64
Name: Education_Status, dtype: int64

In [7]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      20000 non-null  object
 1   Age                     20000 non-null  int64
 2   Gender                  20000 non-null  object
 3   Education_Status        20000 non-null  object
 4   Employment_Status       20000 non-null  object
 5   Working_Week (Yearly)   20000 non-null  int64
 6   Industry_Status         20000 non-null  object
 7   Occupation_Status       20000 non-null  object
 8   Race                    20000 non-null  object
 9   Hispanic_Origin         20000 non-null  object
 10  Martial_Status          20000 non-null  object
 11  Household_Status        20000 non-null  object
 12  Household_Summary       20000 non-null  object
 13  Citizenship             20000 non-null  object
 14  Birth_Country           20000 non-null  object
 15  Birth_Country (Father)  20000 non-null  object
 16  Birth_Country (Mother)  20000 non-null  object
 17  Tax_Status              20000 non-null  object
 18  Gains                   20000 non-null  int64
 19  Losses                  20000 non-null  int64
 20  Dividends               20000 non-null  int64
 21  Income_Status           20000 non-null  object
 22  Income                  20000 non-null  int64
dtypes: int64(6), object(17)
memory usage: 3.5+ MB

In [23]:
train_data['Income_Status'].value_counts()

Under Median    13237
Unknown          6026
Over Median       737
Name: Income_Status, dtype: int64

In [ ]:
train_data['Hispanic_Origin'].value_counts()

In [11]:
test_data

,ID,Age,Gender,Education_Status,Employment_Status,Working_Week (Yearly),Industry_Status,Occupation_Status,Race,Hispanic_Origin,...,Household_Summary,Citizenship,Birth_Country,Birth_Country (Father),Birth_Country (Mother),Tax_Status,Gains,Losses,Dividends,Income_Status
0,TEST_0000,79,M,High Junior,Children or Armed Forces,0,Not in universe or children,Unknown,White,All other,...,Householder,Native,US,Unknown,Unknown,Single,0,0,0,Under Median
1,TEST_0001,47,M,Elementary (5-6),Children or Armed Forces,0,Not in universe or children,Unknown,White,Other Spanish,...,Child 18 or older,Native,US,US,US,Nonfiler,0,0,0,Under Median
2,TEST_0002,18,F,High Junior,Children or Armed Forces,52,Retail,Services,White,All other,...,Child 18 or older,Native,US,US,US,Single,0,0,0,Under Median
3,TEST_0003,39,F,Associates degree (Vocational),Full-Time,30,Medical (except Hospitals),Services,White,All other,...,Spouse of householder,Native,US,US,US,Married Filling Jointly both under 65 (MFJ),0,0,0,Unknown
4,TEST_0004,6,M,Children,Children or Armed Forces,0,Not in universe or children,Unknown,White,Mexican-American,...,Child under 18 never married,Native,US,US,US,Nonfiler,0,0,0,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,TEST_9995,31,M,Bachelors degree,Children or Armed Forces,52,Other professional services,Technicians & Support,White,All other,...,Householder,Native,US,US,US,Single,0,0,0,Under Median
9996,TEST_9996,27,M,College,Children or Armed Forces,52,Retail,Handlers/Cleaners,White,All other,...,Householder,Native,US,US,US,Married Filling Jointly both under 65 (MFJ),0,0,0,Under Median
9997,TEST_9997,18,M,High graduate,Children or Armed Forces,7,Retail,Services,Black,All other,...,Child 18 or older,Native,US,US,US,Nonfiler,0,0,0,Under Median
9998,TEST_9998,9,M,Children,Children or Armed Forces,0,Not in universe or children,Unknown,White,All other,...,Child under 18 never married,Native,US,US,US,Nonfiler,0,0,0,Under Median
9999,TEST_9999,34,M,High graduate,Full-Time,39,Retail,Management,White,All other,...,Spouse of householder,Native,US,US,US,Married Filling Jointly both under 65 (MFJ),0,0,0,Under Median

In [9]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      10000 non-null  object
 1   Age                     10000 non-null  int64
 2   Gender                  10000 non-null  object
 3   Education_Status        10000 non-null  object
 4   Employment_Status       10000 non-null  object
 5   Working_Week (Yearly)   10000 non-null  int64
 6   Industry_Status         10000 non-null  object
 7   Occupation_Status       10000 non-null  object
 8   Race                    10000 non-null  object
 9   Hispanic_Origin         10000 non-null  object
 10  Martial_Status          10000 non-null  object
 11  Household_Status        9999 non-null   object
 12  Household_Summary       10000 non-null  object
 13  Citizenship             10000 non-null  object
 14  Birth_Country           10000 non-null  object
 15  Birth_Country (Father)  10000 non-null  object
 16  Birth_Country (Mother)  10000 non-null  object
 17  Tax_Status              10000 non-null  object
 18  Gains                   10000 non-null  int64
 19  Losses                  10000 non-null  int64
 20  Dividends               10000 non-null  int64
 21  Income_Status           10000 non-null  object
dtypes: int64(5), object(17)
memory usage: 1.7+ MB

In [24]:
test_data['Income_Status'].value_counts()

Under Median    6642
Unknown         2954
Over Median      404
Name: Income_Status, dtype: int64

In [46]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error
# 'object' 타입의 열 추출 (예시)
categorical_columns = train_data.select_dtypes(include=['object']).columns

# 훈련 데이터와 테스트 데이터로 나누기
X_train, X_test, y_train, y_test = train_test_split(train_data.drop('Income', axis=1), train_data['Income'], test_size=0.2, random_state=42)

# 원핫 인코딩 및 모델 훈련을 위한 파이프라인 구성
numeric_features = X_train.select_dtypes(include=['float64', 'int64']).columns
numeric_transformer = Pipeline(steps=[('num', OneHotEncoder(handle_unknown='ignore'))])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, categorical_columns)
    ])

# 파이프라인에 모델 추가
model = Pipeline(steps=[('preprocessor', preprocessor),
                        ('regressor', XGBRegressor())])

# 모델 훈련
model.fit(X_train, y_train)

predictions = model.predict(X_test)

# RMSE 계산
rmse = np.sqrt(mean_squared_error(y_test, predictions))

# 결과 출력
print(f'RMSE on train data: {rmse}')

NameError: name 'XGBRegressor' is not defined

In [ ]:
rmse_test = np.sqrt(mean_squared_error(

In [55]:
test_predictions = model.predict(test_data)
print(test_predictions)

[  9.243807 -31.719116 404.32056  ... 430.3683     2.000756 569.6628  ]

In [56]:
sample_submission['Income'] = test_predictions

# Save the updated DataFrame to a new CSV file
sample_submission.to_csv('predicted_sample_submission.csv', index=False)

# Display the first few rows of the updated DataFrame
print(sample_submission.head())

          ID      Income
0  TEST_0000    9.243807
1  TEST_0001  -31.719116
2  TEST_0002  404.320557
3  TEST_0003  604.337524
4  TEST_0004  -23.255802

In [10]:
train_data

,ID,Age,Gender,Education_Status,Employment_Status,Working_Week (Yearly),Industry_Status,Occupation_Status,Race,Hispanic_Origin,...,Citizenship,Birth_Country,Birth_Country (Father),Birth_Country (Mother),Tax_Status,Gains,Losses,Dividends,Income_Status,Income
0,TRAIN_00000,63,M,Middle (7-8),Full-Time,4,Social Services,Services,White,All other,...,Native,US,US,US,Nonfiler,0,0,0,Unknown,425
1,TRAIN_00001,37,M,Associates degree (Vocational),Full-Time,52,Entertainment,Services,White,All other,...,Native,US,US,US,Single,0,0,0,Under Median,0
2,TRAIN_00002,58,F,High graduate,Full-Time,52,Manufacturing (Non-durable),Admin Support (include Clerical),Black,All other,...,Native,US,US,US,Married Filling Jointly both under 65 (MFJ),3411,0,0,Under Median,860
3,TRAIN_00003,44,M,High graduate,Full-Time,52,Retail,Technicians & Support,White,All other,...,Native,US,US,US,Single,0,0,0,Under Median,850
4,TRAIN_00004,37,F,High graduate,Full-Time,52,Retail,Sales,White,All other,...,Native,US,US,US,Head of Household (HOH),0,0,0,Unknown,570
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,TRAIN_19995,33,M,High graduate,Children or Armed Forces,52,Manufacturing (Durable),Handlers/Cleaners,White,All other,...,Native,US,US,US,Single,0,0,0,Under Median,1300
19996,TRAIN_19996,20,F,College,Full-Time,12,Education,Admin Support (include Clerical),White,Mexican-American,...,Native,US,Mexico,Mexico,Nonfiler,0,0,0,Under Median,850
19997,TRAIN_19997,22,M,College,Children or Armed Forces,52,Transportation,Technicians & Support,White,All other,...,Native,US,US,US,Single,0,0,0,Unknown,999
19998,TRAIN_19998,76,F,High graduate,Not Working,0,Not in universe or children,Unknown,White,All other,...,Native,US,Scotland,England,Single,0,0,0,Under Median,0
19999,TRAIN_19999,41,F,High graduate,Children or Armed Forces,52,Public Administration,Admin Support (include Clerical),White,All other,...,Native,US,US,US,Head of Household (HOH),0,0,0,Under Median,671

In [50]:
train_data.corr()

/var/folders/c3/5nt8gdz151v2dnbzbjm0mfs40000gn/T/ipykernel_35379/1402113604.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  train_data.corr()

,Age,Working_Week (Yearly),Gains,Losses,Dividends,Income
Age,1.000000,0.206218,0.044156,0.053384,0.107565,0.124795
Working_Week (Yearly),0.206218,1.000000,0.053362,0.056658,0.002209,0.419628
Gains,0.044156,0.053362,1.000000,-0.013313,0.081115,0.009555
Losses,0.053384,0.056658,-0.013313,1.000000,0.015351,0.036502
Dividends,0.107565,0.002209,0.081115,0.015351,1.000000,0.002449
Income,0.124795,0.419628,0.009555,0.036502,0.002449,1.000000

In [51]:
train_data = train_data.drop('ID',axis=1)

In [52]:
train_data

,Age,Gender,Education_Status,Employment_Status,Working_Week (Yearly),Industry_Status,Occupation_Status,Race,Hispanic_Origin,Martial_Status,...,Citizenship,Birth_Country,Birth_Country (Father),Birth_Country (Mother),Tax_Status,Gains,Losses,Dividends,Income_Status,Income
0,63,M,Middle (7-8),Full-Time,4,Social Services,Services,White,All other,Married,...,Native,US,US,US,Nonfiler,0,0,0,Unknown,425
1,37,M,Associates degree (Vocational),Full-Time,52,Entertainment,Services,White,All other,Separated,...,Native,US,US,US,Single,0,0,0,Under Median,0
2,58,F,High graduate,Full-Time,52,Manufacturing (Non-durable),Admin Support (include Clerical),Black,All other,Married,...,Native,US,US,US,Married Filling Jointly both under 65 (MFJ),3411,0,0,Under Median,860
3,44,M,High graduate,Full-Time,52,Retail,Technicians & Support,White,All other,Divorced,...,Native,US,US,US,Single,0,0,0,Under Median,850
4,37,F,High graduate,Full-Time,52,Retail,Sales,White,All other,Divorced,...,Native,US,US,US,Head of Household (HOH),0,0,0,Unknown,570
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,33,M,High graduate,Children or Armed Forces,52,Manufacturing (Durable),Handlers/Cleaners,White,All other,Single,...,Native,US,US,US,Single,0,0,0,Under Median,1300
19996,20,F,College,Full-Time,12,Education,Admin Support (include Clerical),White,Mexican-American,Single,...,Native,US,Mexico,Mexico,Nonfiler,0,0,0,Under Median,850
19997,22,M,College,Children or Armed Forces,52,Transportation,Technicians & Support,White,All other,Single,...,Native,US,US,US,Single,0,0,0,Unknown,999
19998,76,F,High graduate,Not Working,0,Not in universe or children,Unknown,White,All other,Widowed,...,Native,US,Scotland,England,Single,0,0,0,Under Median,0
19999,41,F,High graduate,Children or Armed Forces,52,Public Administration,Admin Support (include Clerical),White,All other,Separated,...,Native,US,US,US,Head of Household (HOH),0,0,0,Under Median,671

In [53]:
from catboost import CatBoostRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
import numpy as np


X_train, X_test, y_train, y_test = train_test_split(train_data.drop('Income', axis=1), train_data['Income'], test_size=0.001, random_state=42)

cat_features = [i for i, col in enumerate(train_data.columns) if train_data[col].dtype == 'object']

model = CatBoostRegressor(iterations=500,  # 반복 횟수
                          depth=6,        # 트리의 최대 깊이
                          learning_rate=0.1,  # 학습률
                          cat_features=cat_features,
                          random_seed=42)

# 모델 훈련
model.fit(X_train, y_train, eval_set=(X_test, y_test), early_stopping_rounds=50, verbose=100)

# 테스트 세트에 대한 예측
y_pred = model.predict(X_test)

# RMSE 계산
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print(f"Root Mean Squared Error (RMSE): {rmse}")

0:	learn: 685.5309702	test: 693.1895077	best: 693.1895077 (0)	total: 15.2ms	remaining: 7.58s
100:	learn: 582.8374353	test: 461.2735325	best: 461.2735325 (100)	total: 961ms	remaining: 3.8s
200:	learn: 574.0774639	test: 418.7848382	best: 418.7848382 (200)	total: 1.94s	remaining: 2.89s
300:	learn: 565.2918656	test: 411.6585723	best: 411.4951592 (295)	total: 2.9s	remaining: 1.92s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 409.3367075
bestIteration = 309

Shrink model to first 310 iterations.
Root Mean Squared Error (RMSE): 409.3367074701954

In [54]:
test_data = test_data.drop('ID',axis=1)

In [55]:
test_data

,Age,Gender,Education_Status,Employment_Status,Working_Week (Yearly),Industry_Status,Occupation_Status,Race,Hispanic_Origin,Martial_Status,...,Household_Summary,Citizenship,Birth_Country,Birth_Country (Father),Birth_Country (Mother),Tax_Status,Gains,Losses,Dividends,Income_Status
0,79,M,High Junior,Children or Armed Forces,0,Not in universe or children,Unknown,White,All other,Single,...,Householder,Native,US,Unknown,Unknown,Single,0,0,0,Under Median
1,47,M,Elementary (5-6),Children or Armed Forces,0,Not in universe or children,Unknown,White,Other Spanish,Single,...,Child 18 or older,Native,US,US,US,Nonfiler,0,0,0,Under Median
2,18,F,High Junior,Children or Armed Forces,52,Retail,Services,White,All other,Single,...,Child 18 or older,Native,US,US,US,Single,0,0,0,Under Median
3,39,F,Associates degree (Vocational),Full-Time,30,Medical (except Hospitals),Services,White,All other,Married,...,Spouse of householder,Native,US,US,US,Married Filling Jointly both under 65 (MFJ),0,0,0,Unknown
4,6,M,Children,Children or Armed Forces,0,Not in universe or children,Unknown,White,Mexican-American,Single,...,Child under 18 never married,Native,US,US,US,Nonfiler,0,0,0,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,31,M,Bachelors degree,Children or Armed Forces,52,Other professional services,Technicians & Support,White,All other,Single,...,Householder,Native,US,US,US,Single,0,0,0,Under Median
9996,27,M,College,Children or Armed Forces,52,Retail,Handlers/Cleaners,White,All other,Married,...,Householder,Native,US,US,US,Married Filling Jointly both under 65 (MFJ),0,0,0,Under Median
9997,18,M,High graduate,Children or Armed Forces,7,Retail,Services,Black,All other,Single,...,Child 18 or older,Native,US,US,US,Nonfiler,0,0,0,Under Median
9998,9,M,Children,Children or Armed Forces,0,Not in universe or children,Unknown,White,All other,Single,...,Child under 18 never married,Native,US,US,US,Nonfiler,0,0,0,Under Median
9999,34,M,High graduate,Full-Time,39,Retail,Management,White,All other,Married (Armed Force Spouse),...,Spouse of householder,Native,US,US,US,Married Filling Jointly both under 65 (MFJ),0,0,0,Under Median

In [56]:
rows_with_null = test_data[test_data.isnull().any(axis=1)]
print(rows_with_null)

      Age Gender Education_Status         Employment_Status  \
2659   20      F          College  Children or Armed Forces

      Working_Week (Yearly)              Industry_Status Occupation_Status  \
2659                      0  Not in universe or children           Unknown

       Race Hispanic_Origin Martial_Status  ...  \
2659  Black       All other         Single  ...

                  Household_Summary Citizenship Birth_Country  \
2659  Other relative of householder      Native            US

     Birth_Country (Father) Birth_Country (Mother) Tax_Status Gains  Losses  \
2659                     US                     US   Nonfiler     0       0

      Dividends  Income_Status
2659          0   Under Median

[1 rows x 21 columns]

In [43]:
test_data.Household_Status.value_counts()

Householder                                                               3128
Spouse of householder                                                     2418
Child <18 never marr not in subfamily                                     1290
Nonfamily householder                                                     1191
Child 18+ never marr Not in a subfamily                                    911
Secondary individual                                                       415
Other Rel 18+ never marr not in subfamily                                  110
Other Rel 18+ ever marr not in subfamily                                    78
Child 18+ ever marr Not in a subfamily                                      63
Child 18+ ever married Responsible Person of subfamily                      57
Responsible Person of unrelated subfamily                                   38
Grandchild <18 never marr not in subfamily                                  37
Other Relative 18+ spouse of subfamily Responsible Person                   35
Child 18+ never married Responsible Person of subfamily                     35
Other Relative 18+ ever married Responsible Person of subfamily             35
Grandchild <18 never married child of subfamily Responsible Person          33
Grandchild 18+ never marr not in subfamily                                  32
Child under 18 of Responsible Person of unrelated subfamily                 23
Other Relative <18 never married child of subfamily Responsible Person      18
Other Rel <18 never marr not in subfamily                                   14
In group quarters                                                           10
Other Relative 18+ never married Responsible Person of subfamily            10
Spouse of Responsible Person of unrelated subfamily                          6
Grandchild 18+ ever marr not in subfamily                                    5
Child 18+ spouse of subfamily Responsible Person                             4
Child <18 never married Responsible Person of subfamily                      3
Child <18 ever marr not in subfamily                                         1
Name: Household_Status, dtype: int64

In [57]:
test_data['Household_Status'].fillna('Child 18+ never marr Not in a subfamily', inplace=True)

In [58]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     10000 non-null  int64
 1   Gender                  10000 non-null  object
 2   Education_Status        10000 non-null  object
 3   Employment_Status       10000 non-null  object
 4   Working_Week (Yearly)   10000 non-null  int64
 5   Industry_Status         10000 non-null  object
 6   Occupation_Status       10000 non-null  object
 7   Race                    10000 non-null  object
 8   Hispanic_Origin         10000 non-null  object
 9   Martial_Status          10000 non-null  object
 10  Household_Status        10000 non-null  object
 11  Household_Summary       10000 non-null  object
 12  Citizenship             10000 non-null  object
 13  Birth_Country           10000 non-null  object
 14  Birth_Country (Father)  10000 non-null  object
 15  Birth_Country (Mother)  10000 non-null  object
 16  Tax_Status              10000 non-null  object
 17  Gains                   10000 non-null  int64
 18  Losses                  10000 non-null  int64
 19  Dividends               10000 non-null  int64
 20  Income_Status           10000 non-null  object
dtypes: int64(5), object(16)
memory usage: 1.6+ MB

In [59]:
test_predictions = model.predict(test_data)
print(test_predictions)

[ 23.2735266   -0.61880852 411.20120968 ... 373.10247554   4.41753785
 596.56669028]

In [60]:
sample_submission['Income'] = test_predictions

# Save the updated DataFrame to a new CSV file
sample_submission.to_csv('predicted_sample_submission_catboost_train_size_0.999.csv', index=False)

# Display the first few rows of the updated DataFrame
print(sample_submission.head())

          ID      Income
0  TEST_0000   23.273527
1  TEST_0001   -0.618809
2  TEST_0002  411.201210
3  TEST_0003  673.567203
4  TEST_0004   -4.644842